<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="Server=*;Database=*;Trusted_Connection=False;User ID=*;Password =*"/>
    <add key="PDFPath" value="\\*\e$\test_invoices\"/>
    <!--><add key="RequestURL" value="https://**"/>-->
    <add key="RequestURL" value="https:**"/>
    <add key="LogXML" value ="Y"/>
    <add key="XMLLogDirectory" value="\\**\e$\test_invoices\"/>
    <add key="ErrorLogDirectory" value="\\**\e$\test_invoices\ErrorLog"/>
    <add key ="PullXML" value="Y"/>
    <add key="CreatePDF" value="Y"/>
    <add key="TaxRulesConstruction" value="Y"/>
    <add key="TaxRulesExpense" value="N"/>
    <add key="UseFlatFile" value="Y"/>
    <add key="Threshhold" value="0.03"/>
  </appSettings>
</configuration>